.content {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    overflow-y: auto; 
    position: absolute;
    top: calc(102vh + 200px);
    left: 0;
    right: 0;
    z-index: 900;
}

.content::-webkit-scrollbar {
    display: none; 
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    overflow-y: auto;
}

.intro {
    position: relative;
    max-width: 56rem;
    margin-top: 50vh;
    padding: 20px;
    background: rgba(253, 254, 247, 0.8);
    border-radius: 6px;
    z-index: 5;
    text-align: center;
}

.blurb {
    position: relative;
    max-width: 55rem;
    margin-top: 50vh;
    padding: 20px;
    background: rgba(253, 254, 247, 0.8);
    border-radius: 6px;
    z-index: 5;
    text-align: center;
}

.intro p {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    color: #002e4d;
    line-height: 1.5;
}

h3 {
    font-size: 1.8em;
    font-weight: bold;
    color: #002e4d;
}

.slide-header:after {
    display: block;
    content: "";
    background: rgba(0, 46, 77, .76); 
    height: 3px; 
    width: 80px; 
    margin: 10px auto 1.2rem; 
}

:after {
    box-sizing: border-box;
}

.blurb p {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    color: #002e4d;
    line-height: 1.5;
}

.analysis {
    position: relative;
    max-width: 55rem;
    margin-top: 20px;
    padding: 20px;
    border-radius: 6px;
    z-index: 5;
    text-align: left;
}

.analysis p, .analysis ul, .analysis ul li {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #002e4d;
}
.analysis h4 {
    font-size: 1.3rem;
    color: #002e4d;
}

.plotly-chart {
    width: 56rem;   
}
  
.heatmap-container {
    display: flex;
    justify-content: center; 
    align-items: stretch; 
  }

  .recommendation_container {
    display: flex;  /* Aligns children in a row */
    justify-content: center; /* Centers children horizontally */
    align-items: stretch; /* Centers children vertically */
    gap: 20px; /* Optional: Adds some space between the plots */
}
  
  #heatmap1, #heatmap2 {
    flex: 1; 
    margin: 10px; 
  }

#reco-kg {
    position: relative;
    width: 50rem;
    height: 43rem;
    margin-bottom: 8vh;
    background-color: transparent;
    z-index: 5;
    text-align: center;
}