# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/

# Operating system files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/

# log files
*.log
